FLASK_APP=app:create_app
FLASK_SECRET_KEY=your-flask-secret-key
JWT_SECRET_KEY=your-jwt-secret-key
# Must match the SIGNATURE_SECRET_KEY variable in FastAPI microservice if used
WEBHOOK_SECRET_KEY=your-signature-secret-key

TEST_FLASK_SECRET_KEY=your-test-secret-key
TEST_JWT_SECRET_KEY=your-test-jwt-secret-key
TEST_WEBHOOK_SECRET_KEY=your-test-webhook-secret-key