alembic==1.18.1
anyio==4.12.1
apispec==6.9.0
bcrypt==5.0.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
country-converter==1.3.2
coverage==7.13.4
deprecated==1.3.1
fakeredis==2.33.0
flask==3.1.2
flask-bcrypt==1.0.1
flask-jwt-extended==4.7.1
flask-limiter==4.1.1
flask-marshmallow==1.3.0
flask-migrate==4.1.0
flask-smorest==0.46.2
flask-sqlalchemy==3.1.1
greenlet==3.3.1
gunicorn==25.1.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
ipapi==1.0.4
itsdangerous==2.2.0
jinja2==3.1.6
limits==5.8.0
mako==1.3.10
markupsafe==3.0.3
marshmallow==4.2.1
marshmallow-sqlalchemy==1.4.2
numpy==2.4.3
ordered-set==4.1.0
packaging==26.0
pandas==3.0.1
pluggy==1.6.0
psycopg==3.3.3
psycopg-binary==3.3.3
pygments==2.19.2
pyjwt==2.10.1
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
redis==7.1.0
requests==2.32.5
six==1.17.0
sortedcontainers==2.4.0
sqlalchemy==2.0.46
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
webargs==8.7.1
werkzeug==3.1.5
wrapt==2.1.1
